# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 'Uncle_ac blog'
subtitle: 'Enrich--every day'
description: '加油哦'
keywords:
author: 一只努力变强的蒟蒻仔
language: zh-cn
timezone:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://www.fezhu.top
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight: 
  enable: false
  line_number: false
  auto_detect: false
  tab_replace:
  
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date
  
# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: Sakura

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  - type: git
    repo:
      github: git@github.com:uncleacc/uncleacc.github.io.git
      # coding: git@e.coding.net:uncleacc/uncleacc.git
      coding: git@e.coding.net:uncleacc/uncleacc/uncleacc.coding.me.git
    branch: master
  - type: baidu_url_submitter
backup:
    type: git
    repository:
       github: git@github.com:uncleacc/uncleacc.github.io.git,backup
      #  gitcafe: git@github.com:xxx/xxx.git,branchName
feed:
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date
## markdown 渲染引擎配置，默认是hexo-renderer-marked，这个插件渲染速度更快，且有新特性
markdown:
  render:
    html: true
    xhtmlOut: false
    breaks: true
    linkify: true
    typographer: true
    quotes: '“”‘’'
  plugins:
    - markdown-it-footnote
    - markdown-it-sup
    - markdown-it-sub
    - markdown-it-abbr
    - markdown-it-emoji
  anchors:
    level: 2
    collisionSuffix: 'v'
    permalink: true
    permalinkClass: header-anchor
    permalinkSymbol: ¶

# 百度链接自动提交
baidu_url_submit:
  count: 6 # 提交最新的链接数量
  host: www.fezhu.top # 在百度站长平台中注册的域名
  token: 71LCxWdRpaYxKOw9 # 请注意这是您的秘钥， 所以请不要把博客源代码发布在公众仓库里!
  path: baidu_urls.txt # 文本文档的地址， 新链接会保存在此文本文档里

# 自动生成sitemap
sitemap:
	path: sitemap.xml
baidusitemap:
	path: baidusitemap.xml
 
#  # hexo-neat
#  # md博文压缩
#  neat_enable: true
#  # 压缩html（ejs，swig等也属于html格式片段）
#  neat_html:
#    enable: true
#    exclude:
#  # 压缩css  
#  neat_css:
#    enable: true
#    exclude:
#      - '*.min.css'
#      - '**/*.min.css'
#      - 'jquery.fancybox.min.css'
#      - '**/live2d-widget/waifu.css'
#  # 压缩js
#  neat_js:
#    enable: true
#    mangle: true #打印日志
#    output:
#    compress:
#    exclude: #排除文件
#      - '*.min.js'
#      - '**/*.min.js'
#      - 'jquery.fancybox.min.js'
#      - '**/live2d-widget/*.js'
#      - '**/live2d-widget/*.min.js'